<!--Tạo ra 1 khung trắng <h1>Register</h1> -->
<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 50px; margin-bottom: 20px">
            <mat-card style="margin: 0">
                <form class="form-angular" #f="ngForm" (ngSubmit)="f.form.valid && register()" novalidate>
<!--                 Bidding từ phía ts sang {{status}}-->
                  <mat-error class="alert alert-primary">{{status}}</mat-error>
                    <!--            NAME-->
                    <mat-form-field appearance="outline" style="width: 350px">
                        <mat-label>Name</mat-label>
                        <input name="name" #name="ngModel" [(ngModel)]="form.name" matInput placeholder="Name" required
                               minlength="3" maxlength="6">
                        <mat-icon color="accent" matSuffix>sentiment_very_satisfied</mat-icon>
                        <mat-error *ngIf="name.hasError('required')">The name is required!</mat-error>
                        <mat-error *ngIf="name.hasError('minlength')">The name must at least 3 character !</mat-error>
                    </mat-form-field>
                    <br>
                    <!--            USERNAME-->
                    <mat-form-field appearance="outline" style="width: 350px">
                        <mat-label>UserName</mat-label>
                        <input name="username" #username="ngModel" [(ngModel)]="form.username" matInput
                               placeholder="Name" required minlength="3" maxlength="50">
                        <mat-icon color="accent" matSuffix>face</mat-icon>
                        <mat-error *ngIf="username.hasError('required')">The username is required!</mat-error>
                        <mat-error *ngIf="username.hasError('minlength')">The username must at least 3 character !
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <!--            EMAIL-->
                    <mat-form-field appearance="outline" style="width: 350px">
                        <mat-label>Email</mat-label>
                        <input name="email" [(ngModel)]="form.email" matInput [formControl]="emailFormValidate"
                               placeholder="Name" required>
                        <mat-icon color="accent" matSuffix>email</mat-icon>
                        <mat-error *ngIf="emailFormValidate.hasError('required')">The email is required!</mat-error>
                        <mat-error *ngIf="emailFormValidate.hasError('email')">The email invalid ! Ex: yen@gmail.com
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <!--            PASSWORD-->
                    <mat-form-field style="width: 350px" appearance="outline">
                        <mat-label>Enter your password</mat-label>
                        <input #password="ngModel" [(ngModel)]="form.password" name="password" matInput
                               [type]="hide ? 'password' : 'text'" required minlength="6" maxlength="100">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                            <mat-icon color="accent">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="password.hasError('required')">The password is required!</mat-error>
                        <mat-error *ngIf="password.hasError('minlength')">The password must at least 6 character !
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <button type="submit" mat-stroked-button color="accent" class="mat-button-toggle-group btn-outline-primary">
                        Register
                        <mat-icon color="accent" matSuffix>add_circle_outline</mat-icon>
                    </button>

                </form>
            </mat-card>
        </div>
    </div>
</div>


